<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../static/assets/img/icon/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="../../static/assets/img/icon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../static/assets/img/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../static/assets/img/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="../../static/assets/img/icon/apple-touch-icon-57x57.png">

    <title>我的日常记录</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/assets/css/cubeportfolio.css" rel="stylesheet">
    <link href="../../static/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../static/assets/css/plugins.css" rel="stylesheet">
    <link href="../../static/assets/css/pe-icons.css" rel="stylesheet">
    <link href="../../static/assets/css/animate.css" rel="stylesheet">
    <link href="../../static/assets/css/style.css" rel="stylesheet">

    <script src="../../static/assets/js/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            'use strict';
            jQuery('#headerwrap').backstretch([
                "../../static/assets/img/bg/bg1.jpg",
                "../../static/assets/img/bg/bg2.jpg",
                "../../static/assets/img/bg/bg3.jpg"
            ], {duration: 8000, fade: 800});
        });
    </script>


    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/assets/js/bootstrap.min.js"></script>

    <script src="../../static/assets/js/plugins.js"></script>
    <script src="../../static/assets/js/cubeportfolio.js"></script>
    <script src="../../static/assets/js/init.js"></script>
</head>

<body>

<div class="preloader">
    <div class="preloader-img">
        <img src="../../static/assets/img/loading-spin.svg" width="100" alt="Loading icon"/>
    </div>
</div>

<div id="searchwrapper" class="sb-slide">
    <div class="container">
        <div id="search">
            <button type="button" class="close">×</button>
            <form>
                <input type="search" value="" placeholder="type keyword(s) here"/>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>

<div id="main-navigation" class="navbar navbar-inverse navbar-fixed-top smoothtransition fadeInDown sb-slide"
     data-wow-delay="1s" role="navigation">
    <div class="container smoothtransition">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h2><a class="navbar-brand" href="index.html">SU</a></h2>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">主页
                        <span class="pe-7s-angle-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="index">主页</a></li>
                        <li><a href="/personal/resume">主页-个人中心</a></li>
                        <li><a href="/shop/center">主页-商店</a></li>
                        <li><a href="/app/list">主页-应用推荐</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">文章
                        <span class="pe-7s-angle-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/article/informalEssay">小心情</a></li>
                        <li><a href="/article/technology">技术刊</a></li>
                        <li><a href="/article/ancient">古文赏</a></li>
                        <li><a href="/article/english">英文角</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">影音
                        <span class="pe-7s-angle-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="portfolio-grid.html">相册</a></li>
                        <li><a href="single-portfolio.html">轮播</a></li>
                        <li><a href="single-portfolio-video.html">视频</a></li>
                        <li><a href="single-portfolio-large.html">全屏大图</a></li>
                        <li><a href="single-portfolio-video-large.html">视频全屏</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">商店
                        <span class="pe-7s-angle-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="index-shop.html">二手</a></li>
                        <!--                            <li><a href="single-product.html">Single Product</a></li>-->
                        <!--                            <li><a href="shopping-cart.html">Shopping Cart</a></li>-->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">其他
                        <span class="pe-7s-angle-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="404.html">404</a></li>
                        <!--                            <li><a href="coming-soon.html">Coming Soon</a></li>-->
                        <li><a href="login.html">登录</a></li>
                        <li><a href="login.html">关于</a></li>
                        <li><a href="contact-us.html">联系我们</a></li>
                    </ul>
                </li>

                <li><a id="searchtrigger" href="#"><i class="fa fa-search"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<header id="headerwrap" class="fullscreen">
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="fancy wow fadeInDown" data-wow-delay="1.5s">
                        <span><strong>SOMETHING A LITTLE DIFFERENT</strong></span></h3>
                    <h1 class="mb30 wow fadeInUp" data-wow-delay="2s">欢迎访问 我的个网</h1>
                    <a class="page-scroll btn btn-theme btn-lg btn-white wow fadeInUp" data-wow-delay="2.5s"
                       href="#about-us">惊喜</a>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="about-us" class="white section-wrapper">
    <div class="section-inner">
        <div class="container">
            <div class="row wow fadeInDown">
                <div class="col-lg-12">
                    <h2 class="section-heading"><strong>关于</strong> 我</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row mb100 wow fadeInUp">
                <div class="col-md-6">
                    <p>Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on
                        considered of. No thought me husband or colonel forming effects. End sitting shewing who saw
                        besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was. He
                        families believed if no elegance interest surprise an. It abode wrong miles an so delay
                        plate.</p>
                    <p>Contrasted interested eat alteration pianoforte sympathize was. He families believed if no
                        elegance interest surprise an. It abode wrong miles an so delay plate. She relation own put
                        outlived may disposed.</p>
                    <p class="mt"><a href="#contact" class="btn btn-primary btn-theme page-scroll">Get In Touch</a></p>
                </div>

                <div class="col-md-6">
                    <img src="../../static/assets/img/devices.png" class="img-responsive alignright" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="white section-wrapper">
    <div class="section-inner nopaddingbottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 wow fadeInDown">
                    <h2 class="section-heading"><strong>Contact</strong> Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="contact-lower" class="white section-wrapper">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="message"></div>
                    <form method="post" action="sendemail.php" id="contactform">
                        <p><input type="text" class="form-control" name="name" placeholder="Your Name *" id="name"
                                  required data-validation-required-message="Please enter your name."/></p>
                        <p><input type="text" class="form-control" name="email" placeholder="Your Email *" id="email"
                                  required data-validation-required-message="Please enter your email address."/></p>
                        <p><input type="text" class="form-control" name="website" placeholder="Your URL *" id="website"
                                  required data-validation-required-message="Please enter your web address."/></p>
                        <p><textarea name="comments" rows="5" class="form-control" id="comments"
                                     placeholder="Your Message *" required
                                     data-validation-required-message="Please enter a message."></textarea></p>
                        <input class="btn btn-theme pull-right" type="submit" name="submit" value="Submit"/>
                    </form>
                </div>
                <div class="col-md-6">
                    <p>Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited
                        raising gravity outward subject my cottage mr be. Hold do at tore in park feet near my case.
                        Invitation at understood occasional sentiments insipidity inhabiting in. Off melancholy
                        alteration principles old. Is do speedily kindness properly oh. Respect article painted cottage
                        he is offices parlors.</p>
                    <p>Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited
                        raising gravity outward subject my cottage mr be. Hold do at tore in park feet near my case.
                        Invitation at understood occasional sentiments insipidity inhabiting in. Off melancholy
                        alteration principles old. Is do speedily kindness properly oh. Respect article painted cottage
                        he is offices parlors.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="divider-wrapper-a section-wrapper opaqued" data-parallax="scroll"
         data-image-src="../../static/assets/img/bg/bg1.jpg" data-speed="0.7">
    <div class="section-inner">
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-md-12 centered">
                    <form id="subscribe-box" role="form" action="register.php" method="post">
                        <input type="email" name="email" class="form-control outlined subscribe-input"
                               placeholder="Enter your e-mail address..." required>
                        <button class='btn btn-theme btn-white pull-right subscribe-submit' type="submit">Sign Up
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="social-profiles-fw">
    <div class="nopadding">
        <div class="social-profile smoothtransition col-xs-3 centered twitter-bg">
            <a href="#" class="wow fadeInUp"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="social-profile smoothtransition col-xs-3 centered facebook-bg">
            <a href="#" class="wow fadeInUp"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="social-profile smoothtransition col-xs-3 centered gplus-bg">
            <a href="#" class="wow fadeInUp"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="social-profile smoothtransition col-xs-3 centered dribbble-bg">
            <a href="#" class="wow fadeInUp"><i class="fa fa-dribbble"></i></a>
        </div>
    </div>
</section>

<footer id="footerwrap">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget about-us-widget">
                        <h4 class="widget-title"><strong>Global</strong> Coverage</h4>
                        <p>Was drawing natural fat respect husband. An as noisy an offer drawn blush place. These tried
                            for way joy wrote witty. In mr began music weeks after at begin.</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title"><strong>Recent</strong> Tweets</h4>
                        <script type="text/javascript">
                            jQuery(function ($) {
                                $('.twitter-feed').twittie({
                                    username: 'DistinctThemes',
                                    apiPath: 'twitter/tweet.php',
                                    dateFormat: '%b. %d, %Y',
                                    template: '<div class="row"><div class="col-xs-3 nopaddingright">{{avatar}}</div><div class="col-xs-9"><p>{{tweet}}</p></div></div>',
                                    count: 10
                                }, function () {
                                    setInterval(function () {
                                        var item = $('.twitter-feed ul').find('li:first');
                                        item.animate({marginLeft: '0px', 'opacity': '0'}, 500, function () {
                                            $(this).detach().appendTo('.twitter-feed ul').removeAttr('style');
                                        });
                                    }, 8000);
                                    jQuery('.twitter-feed li img').attr('src', function (i, src) {
                                        return src.replace('_normal', '');
                                    });
                                });
                            });
                        </script>
                        <div class="twitter-feed"></div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title"><strong>Latest</strong> Articles</h4>
                        <div>
                            <div class="media">
                                <div class="pull-left">
                                    <img class="widget-img" src="../../static/assets/img/widget/widget1.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <span class="media-heading"><a href="#">Blog Post A</a></span>
                                    <small class="muted">Posted 14 April 2019</small>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img class="widget-img" src="../../static/assets/img/widget/widget2.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <span class="media-heading"><a href="#">Blog Post B</a></span>
                                    <small class="muted">Posted 14 April 2019</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title"><strong>Latest</strong> Articles</h4>
                        <div class="tagcloud">
                            <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Local</a>
                            <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Business</a>
                            <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Media</a>
                            <a href="#" class="tag-link btn btn-theme btn-white btn-xs"
                               title="3 topics">Photogtraphy</a>
                            <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Aid</a>
                            <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Fashion</a>
                            <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">News</a>
                            <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Cars</a>
                            <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Global
                                Affairs</a>
                            <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Music</a>
                            <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Downloads</a>
                            <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">MP3</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="lowerfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><a href="http://beian.miit.gov.cn" target="_blank">鲁ICP备18033149号-1</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
